doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Reset Password
  link(href='https://googleapis.com' rel='stylesheet')
  link(rel='stylesheet' href='../css/forgotPassword.css')
.auth-wrapper
  .auth-card
    // Nyondo Logo Icon
    .logo-container
      .logo-icon &#x1F3E2;
      h1.brand-name NYONDO
    .auth-header
      h2 Change Your Password
      p Enter a new password below to change your password.
    form.auth-form(action='/forgot' method='post')
      .form-group
        label New password*
        input(type='password' name='newpassword' placeholder='••••••••')
      .form-group
        label Re-enter new password*
        input(type='password' name='reEnter' placeholder='••••••••')
      // Password Requirements Box
      .requirements-box
        p.req-title Your password must contain:
        .requirement.met
          span.check-icon &check;
          |               At least 10 characters in length
      button.reset-btn(type='submit') Reset password
    .auth-footer
      a.back-link(href='login.html') &larr; Back to login
